* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --azul: #162741;
  --rosa_escuro: #d7197b;
  --rosa_claro: #f9d5e1;
  --rosa_medio: #f5bed3;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background: var(--azul);
}

.content {
  width: 80vw;
  height: 100vh;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: var(--rosa_escuro);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: var(--rosa_claro);
  text-decoration: none;
  font-weight: lighter;
}

nav ul li a:hover {
  color: var(--rosa_medio);
}

.content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title .text {
  text-align: center;
  font-size: 50px;
  position: relative;
  color: var(--rosa_medio);
  top: 30%;
}

.title .imagens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: auto;
  height: 500px;
  position: absolute;
  bottom: 0;
  display: center;
  justify-content: center;
  align-items: center;
}

.email {
  width: 100%;
  height: 200px;
  background-color: var(--rosa_escuro);
}

.email h3 {
  color: var(--azul);
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;
  display: block;
}

.email form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email .input-email {
  width: 500px;
  height: 40px;
  border: none;
  background: var(--rosa_claro);
  color: var(--azul);
  font-size: 18px;
  margin-top: 20px;
}

.email .input-button {
  width: 60px;
  height: 40px;
  margin-top: 20px;
  border: none;
  color: var(--rosa_claro);
  background: var(--azul);
}

.card-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 90px;
  padding-top: 100px;
}

.card-item {
  height: 400px;
  width: 400px;
  background: rgba(25, 50, 75, 07);
  color: white;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: auto;
  height: 150px;
}

.card-item p {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--rosa_escuro);
}

.card-item button {
  width: 90%;
  padding: 15px 0px;
  border: none;
  background: var(--rosa_claro);
  color: #162741;
  font-weight: bold;
  border-radius: 4px;
}
.card-item button:hover{
  background: var(--rosa_medio);
}

footer {
  bottom: 0;
  margin-top: 120px;
  background: var(--rosa_escuro);
  height: 100px;
  color: var(--azul);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 1500px){
  .title h1 {
    font-size: 60px;
  }

  .title img {
    width: auto;
    height: 500px;
  }
  
  .card-item {
    height: 300px;
    width: 200px;
    background: rgba(25, 50, 75, 07);
    color: white;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-item img {
    width: auto;
    height: 90px;
  }
}


@media (max-width: 850px){
  .title h1 {
    font-size: 60px;
  }

  .title img {
    width: auto;
    height: 500px;
  }
  
  .card-item {
    height: 200px;
    width: 150px;
    background: rgba(25, 50, 75, 07);
    color: white;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-item img {
    width: auto;
    height: 50px;
  }
}

@media (max-width: 600px){
  .title h1 {
    font-size: 40px;
  }

  .title img {
    width: auto;
    height: 400px;
  }
  
  .card-item {
    height: 200px;
    width: 120px;
    background: rgba(25, 50, 75, 07);
    color: white;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-item img {
    width: auto;
    height: 50px;
  }

  .card-item h3 {
    font-size: 12px;
  }

  .card-item p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: var(--rosa_escuro);
  }
  
  .card-item button {
    width: 90%;
    padding: 10px 0px;
    border: none;
    background: var(--rosa_claro);
    color: #162741;
    font-weight: bold;
    border-radius: 4px;
  }
}
